body {
    background-color: #000;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Roboto, sans-serif;
}

#bgImageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    // transition: opacity 0.6s ease-out;
    z-index: 200;
    background-color: #000;
  }
  
#bgImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#bgImage[alt]:after {  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    content: attr(alt);
  }

#video {
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#debugPanel {
    display: none;
    position: absolute;
    right: 20px;
    background: #333333;
    text-align: right;
    color: white;
    opacity: .7;
    z-index: 2000;
    padding: 3px 6px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-weight: normal;
    border-top: 10px solid #4285F5;
}

.debugContent {
    font-weight: bold;
    display: inline-block;
}

.debugLabel {
    font-weight: normal;
    display: inline-block;
    margin-right: 6px;
}

.debugRow {
    display: block;
}
