# Environment configuration file

# Enable DEBUG mode
DEBUG_ENABLED = true

# Conviva customer key
ROGERS_CONVIVA_CUSTOMER_KEY=your_conviva_customer_key

# Conviva gateway URL (used for testing, not for production)
ROGERS_CONVIVA_GATEWAY_URL=https://your_conviva_gateway_url